{% extends "base.html" %}

{% block title %}WAIT A MOMENT | {{ project_name }}{% endblock %}
{% block meta_robots %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block meta_description %}Your authentication page has been temporarily rate-limited to prevent excessive refreshes and automated traffic.{% endblock %}

{% block content %}
<section class="legal-page">
    <h1>STILL IN PROGRESS, CHECK BACK LATER.</h1>
    {% comment %} TODO {% endcomment %}
</section>
{% endblock content %}
